.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, 
.bootstrap-iso form{
	font-family: Arial, Helvetica, sans-serif; 
	color: black
}
.bootstrap-iso form button, .bootstrap-iso form button:hover{
	color: white !important;
} 
.bootstrap-iso{
	background-color: #ebebeb;
}
.asteriskField{
	color: red;
} 
.row{
	margin:auto;
	padding-left: 400px;
}
.container-logo{
	width: 1600px;
	height: auto;
	padding-left: 400px;
	padding-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ebebeb; 
}
img{
	width: 500px;
	height: 150px;
}

.date_error{
	color: red;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-style: italic;
}

h4{
	color:#3498DB;
}

.footer{
	width: 100%;
	height: 200px;
	background-repeat:repeat;
	background-image: url("/img/footer.png");
}